{% extends 'crud/base.html' %}
{% load static %}

{% block contenido %}

<!-- cuerpo -->


<!------------------------Texto-------------------------------------------->

<div class="container margint60 page">
  <div class="col-12">

    <div class="container d-flex justify-content-center ">
      <div class="card bg-success text-white m-3">
        <img src="{% static 'crud/img/tierra.jpg' %}" class="card-img " width="350px" height="350px">
        <div class="card-img-overlay">
          <h1>
            <p class="text-center mt-4 text-success">
              ¿Quienes Somos?
            </p>
          </h1>
        </div>
      </div>

    </div>


    <div class="container d-flex justify-content-center ">
      
        <p class="text-center mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos assumenda tempore nisi! Veritatis
          earum
          itaque, voluptatum quis illo quibusdam reiciendis corporis voluptate! Molestiae mollitia consectetur quod
          aspernatur explicabo temporibus.
        </p>
      

    </div>


    <div class="container d-flex justify-content-center ">
      <div class="row row-cols-1 row-cols-md-2 g-4 m-2">
        <div class="col">
          <img src="{% static 'crud/img/Regar.jpg' %}" class="d-block w-100 , rounded" alt="...">
        </div>
        <div class="col">
          <h1>
            <p class="text-center mt-4 text-success">
              Beneficios
            </p>
          </h1>
          
          <p class="text-center mt-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos assumenda tempore nisi! Veritatis
            earum
            itaque, voluptatum quis illo quibusdam reiciendis corporis voluptate! Molestiae mollitia consectetur quod
            aspernatur explicabo temporibus.
          </p>
        </div>
      </div>
    </div>


    <div class="container d-flex justify-content-center ">
      <div class="row row-cols-1 row-cols-md-2 g-4  mt-3" >
        <div class="col">
          <h1>
          <p class="text-center mt-5 text-success">
            Terminos y condiciones
          </p>
          </h1>
          <p class="text-center mt-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos assumenda tempore nisi! Veritatis
            earum
            itaque, voluptatum quis illo quibusdam reiciendis corporis voluptate! Molestiae mollitia consectetur quod
            aspernatur explicabo temporibus.
          </p>
        </div>
        <div class="col">
          <img src="{% static 'crud/img/aire_fresco.jpg' %}" class="d-block w-100 , rounded" alt="...">
        </div>
        <h1>
      </div>
    </div>




    <h1>
    <p class="text-center mt-4 text-success">
      Servicios
    </p>
    </h1>
    <p class="text-center mt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos assumenda tempore nisi! Veritatis
      earum
      itaque, voluptatum quis illo quibusdam reiciendis corporis voluptate! Molestiae mollitia consectetur quod
      aspernatur explicabo temporibus.
    </p>

    <div class="container d-flex justify-content-center ">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'crud/img/trabajador/trabajador.jpg' %}" class="card-img-top" height="250px">
            <div class="card-body">
              <h5 class="card-title">Trabajador</h5>
              <h3>Carolina Perez</h3>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti ducimus quibusdam
                itaque laborum iusto consectetur aliquam ipsum, voluptatibus molestiae cum repellendus cupiditate
                reiciendis autem repudiandae iste at ea accusamus eaque?</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'crud/img/clientes/cliente.jpg' %}" class="card-img-top" height="250px">
            <div class="card-body">
              <h5 class="card-title ">Vendedor</h5>
              <h3> Roberto Ramirez</h3>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, fugiat. Doloremque
                inventore odio voluptatem temporibus porro? Repellendus sit molestias culpa rerum, earum est libero eius
                perspiciatis odit rem, ipsa neque.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'crud/img/clientes/cliente2.jpg' %}" class="card-img-top" height="250px">
            <div class="card-body">
              <h5 class="card-title">cliente</h5>
              <h3> Pepe Gomez</h3>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi itaque laborum id
                sapiente aliquid neque laudantium ut animi necessitatibus in rerum illum veritatis molestiae vero
                impedit aliquam, ab consectetur doloribus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="container d-flex justify-content-center">
      <h1>
        <p class="text-center mt-4 text-success">
          ¿Te Gustaria Ayudarnos?
        </p>
      </h1>
    </div>

    <div class="container d-flex justify-content-center">
      <p class="text-center mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dignissimos assumenda tempore nisi! Veritatis
        earum
        itaque, voluptatum quis illo quibusdam reiciendis corporis voluptate! Molestiae mollitia consectetur quod
        aspernatur explicabo temporibus.
      </p>
    </div>


    <div class="container d-flex justify-content-center">
      <p class="text-center mt-4">
        <a href="{% url 'agregar' 45 'about' %}"><button type="button" class="btn btn-success">Suscribirse</button></a>
      </p>
    </div>


    



  </div>

</div>
{% endblock contenido %}