
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tierra Adentro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href= "{% static 'crud/css/style.css' %}">
  <script src="https://kit.fontawesome.com/3dfcf40508.js" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous">
  </script>
  <script src="{% static 'crud\static\crud\js' %}"></script>
</head>


<body class="bg-light">
  <nav class="navbar navbar-expand-md navbar-light bg-light navbar-menu ">
    <div class="container d-flex  justify-content-around">
      
        <a class="navbar-brand" href="#" id="link-logo">
          <img src="{% static 'crud/img/logo.png' %}" alt="logo" id="logo" class="img-responsive rounded">
        </a>

      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container float-end">
        <div class="collapse navbar-collapse float-lg-end float-md-end float-sm-start " id="navbarNav">

          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'productos' %}">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Quienes Somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>

            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'perfil' 0 %}">
                <i class="fa-solid fa-user icono" ></i>
                Ver perfil</a>
                <li class="nav-item usserLoggedIn">
                  <a class="nav-link ultimo" href="{% url 'carro' %}">
                    <i class="fa-solid fa-cart-shopping icono2">{{total_contador}}</i>
                  </a>
                </li>
                {% else %}
                <a class="nav-link" href="{% url 'login' %}" id="iniciarsecion">
                  <i class="fa-solid fa-user icono" ></i>
                  Iniciar Sesion</a>
                  <li class="nav-item">
                    <a class="nav-link ultimo" href="#">
                    </a>
                  </li>
                {% endif %}
            </li>
            
            
          </ul>

        </div>
      </div>
    </div>
  </nav>
  <main>
    <h1>
      {% if messages %}
       
        {% for m in messages %}
        
          {{m}}
  
        {% endfor %}
      
      {% endif %}

    </h1>
    {% block contenido %}
      
      
    {% endblock contenido %}
  </main>
    





  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="container my-5" style="border-top: 2px solid green;">

    <footer class="bg-light text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i
              class="fab fa-facebook-f"></i></a>

          <!-- Twitter -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="#!" role="button"><i
              class="fab fa-twitter"></i></a>

          <!-- Google -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
              class="fab fa-google"></i></a>

          <!-- Instagram -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
              class="fab fa-instagram"></i></a>

          <!-- Linkedin -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
              class="fab fa-linkedin-in"></i></a>

        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: forestgreen; border-radius: 20px;">
        © 2022 Copyright:
        <a class="text-white" href="index.html" style="text-decoration: none;">Tierra Adentro</a>
      </div>
      <!-- Copyright -->
    </footer>

  </div>
  <!-- End of .container -->
  
  <!-- <script src="./js/formulario.js"></script> -->
  <!-- <script src="./js/checkSession.js"></script> -->
</body>

</html>