
{% extends 'crud/base.html' %}
{% load static %}

{% block contenido %}
<style>
    /* productos */

.img-container {
    position: relative;
    
}
.image {
    transition: .5 ease;
    backface-visibility: hidden;
    height: 23rem;
}

.overlay {
    transition: .5 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-container:hover .image {
    opacity: 0.2;
}

.img-container:hover .overlay {
    opacity: 1;
}

/* fin productos */
</style>
<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Flores</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, distinctio!</p>
    <p>{{mensaje}}</p>
</section>
<section class="gallery">
    <div class="container">
        <div class="row">
            
            {% load humanize %}
            {% for p in productos  %}
            {% if p.categoria_id == 1 %}
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <div class="img-container">
                       
                        {% if p.imagen %}
                        <img src="{{p.imagen.url}}"alt="" class="image card-img-top">
                        {% else %}
                        <img src="{% static 'crud/img/ayudar.jpg' %}"alt="" class="image card-img-top img-responsive">
                        {% endif %}
                        <div class="overlay">
                            <a href="{% url 'agregar' p.id 'flores' %}"><button class="btn btn-outline-secondary btn-sm"><i class="fas fa-cart-plus mr-2"></i>Agregar</button></a>
                            <button class="btn btn-outline-secondary btn-sm"><i class="far fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">{{p.nombre | title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">${{p.precio | intcomma}}</h6>
                        <p class="card-text">{{p.descripcion}}</p>
                        <p >{{categoria}}</p>
                        
                        
                    </div>
                </div>
            </div>
            
            
            
            {% endif %}
            
            {% endfor %}

            
        </div>
    </div>
</section>

{% endblock contenido %}